body{
    background-color: rgb(24, 24, 24);
}


input{
    padding: 12px 20px;
    margin: 8px;
    border: 2px solid #2600ff;
    z-index: 2;
    position: relative;
    top: 100px
}

.hidden{
    display: none;
    z-index: 2;
}

.submit{
    border-radius: 20px;
    z-index: 2;
}

.RansomWare{
    background-color: #242424;
    color: white;
    height: 30px;
    width: 200px;
    position: fixed;
    top: 250px;
    left: 500px;
    z-index: 1;
    border-radius: 20px;
}

.KeyLogger{
    background-color: #242424;
    color: white;
    height: 30px;
    width: 200px;
    position: fixed;
    top: 250px;
    left: 840px;
    z-index: 1;
    border-radius: 20px;
}

.Mydoom{
    background-color: #242424;
    color: white;
    height: 30px;
    width: 200px;
    position: fixed;
    top: 250px;
    left: 1180px;
    z-index: 1;
    border-radius: 20px;
}

.ILOVEYOU{
    background-color: #242424;
    color: white;
    height: 30px;
    width: 200px;
    position: fixed;
    top: 540px;
    left: 660px;
    z-index: 1;
    border-radius: 20px;
}

.WannaCry{
    background-color: #242424;
    color: white;
    height: 30px;
    width: 200px;
    position: fixed;
    top: 540px;
    left: 1010px;
    z-index: 1;
    border-radius: 20px;
}

h1{
    position: fixed;
    color: #0f0063;
    top: 0px;
    left: 20px;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






.rectangle1{
    height: 11vh;
    width: 99vw;
    background-color: white;
    border: solid 2px #2600ff;
    box-shadow: 0 0 20px #2600ff;
    
}

.rectangle2{
    height: 80vh;
    width: 60vw;
    background-color: white;
    position: fixed;
    top: 150px;
    left: 370px;
    border: solid 2px #2600ff;
    box-shadow: 0 0 20px#2600ff;
    border-radius: 20px;
}

h2{
    color: #0f0063;
    position: fixed;
    left: 690px;
    top: 140px;
    z-index: 1;
}

button{
    background-color: white;
    border-color: white;
    color: #0f0063;
    position: fixed;
    height: 25px;
    width: 75px;
    top: 81px;
    right: 100px;
    z-index: 1;
}

form{
    position: fixed;
    top: 700px;
    left: 550px;
}